---
import type { SiteMeta } from '@/types'

import BaseHead from '@/components/BaseHead.astro'

import { siteConfig } from '@/site-config'

interface Props {
	meta: SiteMeta
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title,  }
} = Astro.props
---

<html lang={siteConfig.lang} class=''>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body class='w-full md:w-auto flex justify-center '>
		<slot />
	</body>
</html>
